# - сам веб-фреймворк
fastapi
# - асинхронный веб-сервер
uvicorn
# - текстовый веб-клиент, похожий на curl
httpie
# - пакет синхронного веб-клиента
requests
# - пакет синхронного/асинхронного веб-клиента
httpx
